<app-menu class="hidden"></app-menu>
<header class="container-fluid">
  <div class="row align-items-center">
    <div class="col-auto d-none d-md-block">
      <img src="images/logo.png" alt="Winner Trading Logo" class="app-header__logo">
      </div>

    <div class="col">
      <form class="search-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Busca aquí..." aria-label="Barra de búsqueda">
          <button class="btn" type="button" aria-label="Buscar">
            <i class="bi bi-search"></i> </button>
        </div>
      </form>
    </div>

    <div class="col-auto d-none d-md-block">
      <ul class="list-inline mb-0 app-header__social-icons">
        <li class="list-inline-item">
          <a href="#" target="_blank" aria-label="Facebook">
            <i class="bi bi-facebook"></i> </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i> </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" aria-label="Twitter">
            <i class="bi bi-twitter-x"></i> </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i> </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<app-menu class=" d-none d-md-block"></app-menu>