.app-pagination .page-item.active .page-link {
    background-color: var(--background-tertiary-color);
    border-color: var(--background-tertiary-color);
    color: var(--text-light);
}

.app-pagination .page-link {
    color: var(--text-color);
}

.app-pagination .page-link:hover {
    color: var(--primary-color);
}

.app-pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: var(--card-background);
    border-color: var(--border-color);
}

@media screen and (max-width: 768px) {
    .sequential {
        display: none !important;
    }    
}